body {
  background-color: #8fbde8;
}
@font-face {
  font-family: "wigi";
  src: url("fonts/Gilroy-Light.otf") format("opentype");
}
@font-face {
  font-family: "Gilory";
  src: url("fonts/Gilroy-ExtraBold.otf") format("opentype");
}
.main-border {
  background-color: #eceff1;
  margin: 5rem 3rem 5rem 5rem;
  max-width: 1353px;
  height: 800px;
  border-radius: 3rem;
}

.container-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.container {
  margin-right: -2rem;
  margin-left: 8rem;
}
.header__right {
  width: 30rem;
  text-align: left;
}
.header-items {
  display: flex;
  margin-top: 4rem;
}
.item__link {
  color: #000;
  text-decoration: none;
  margin-right: 2.3rem;
  font-family: wigi;
  text-shadow: 0 0.2rem 0.2rem #90a4ae;
}

.header-options {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 100%;
}
.header-option {
  font-family: wigi;
}

.option-link {
  text-decoration: none;
  margin-right: 2.3rem;
}
.option-link1 {
  text-decoration: none;
  color: #000;
  margin-right: 2rem;
  position: relative;
  transition: 0.3s;
}
.option-link2 {
  text-decoration: none;
  position: relative;
  color: #4461f2;
  margin-right: 2rem;
}
.option-link2::after {
  content: "";
  position: absolute;
  background-color: #4461f2;
  width: 1rem;
  height: 2px;
  bottom: -0.5rem;
  left: 1rem;
}
.option-link3 {
  text-decoration: none;
  background-color: #fff;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  color: #4461f2;
  box-shadow: 0 0.3rem 0.3rem #dbe3e6;
  margin-right: 2rem;
}
.header-subs {
  display: flex;
  list-style-type: none;
}
.submenus {
  position: absolute;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
  display: none;
}
.li-sub {
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
  background-color: #4461f2;
  padding: 0;
  border-radius: 0.5rem;
  border: 1px solid #f5f5f5;
}
.li-sub:hover {
  background-color: #3149be;
}
.sub-menu {
  margin: 0;
  line-height: 2rem;
  text-decoration: none;
  color: #000;
}

.subs-item1:hover > ul {
  display: block;
}

.section-main {
  margin-top: 10rem;
  display: flex;
  align-content: center;
}
.span {
  color: #4461f2;
}
.main__left {
  margin-right: 3rem;
  background-image: url("/static/images/Ellipse\ 1.png ");
  background-size: 226px 226px;
  background-repeat: no-repeat;
  background-position: right bottom;
}
.main__center {
  margin-right: 5rem;
}
.main__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 288px;
  height: 319px;
}
.right-container {
  width: 100;
}
.main-txt {
  line-height: 3rem;
  font-family: Gilory;
  font-weight: -100;
}
.text-register {
  margin-top: 2rem;
}
.reg-txt {
  font-family: wigi;
  line-height: 1rem;
}
.img-container {
  max-width: 330px;
  height: auto;
}
.img-center {
  width: 100%;
}
.Email__txt {
  color: #677185;
  font-family: wigi;
  padding: 1rem 6.5rem 1rem 0.8rem;
  border: none;
  outline: none;
  background-color: #d4e2f3;
  border-radius: 0.5rem;
}
.pass__txt {
  color: #677185;
  font-family: wigi;
  padding: 1rem 6.5rem 1rem 0.8rem;
  border: none;
  outline: none;
  background-color: #d4e2f3;
  border-radius: 0.5rem;
}
.recover-txt {
  cursor: pointer;
  text-align: right;
  padding: 0 2rem;
  margin: 0;
  font-size: 0.6rem;
  font-family: wigi;
  color: #c7c7c7;
}
.signin__txt {
  padding: 0.8rem;
  border-radius: 0.5rem;
  width: 90%;
  color: #fff;
  font-family: wigi;
  border: none;
  background-color: #4461f2;
  margin-top: 2rem;
}
.continue-txt {
  margin-top: 2rem;
  margin-left: 6rem;
  padding-right: 0.2rem;
  color: #acadac;
  font-family: wigi;
  font-size: 0.6rem;
}
.logos {
  display: flex;
  align-items: center;
  width: 2rem;
}
.logo {
  display: block;
  margin: 0.5rem 1.5rem 0.5rem 1.5rem;
}
.logo-wrapper1 {
  margin-right: 1rem;
  border: 1.5px solid #dddfdd;
  border-radius: 0.5rem;
}
.logo-wrapper2 {
  margin-right: 1rem;
  border: 1.5px solid #dddfdd;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.2rem 1rem gray;
}
.logo-wrapper3 {
  margin-right: 1rem;
  border: 1.5px solid #dddfdd;
  border-radius: 0.5rem;
}
.header__icon {
  display: none;
  cursor: pointer;
}
.input-group {
  display: flex;
  align-items: center;
}

.Email__txt,
.pass__txt {
  flex: 1;
}

.logo-alert {
  margin-left: 0.5rem;
}

@media only screen and (max-width: 1338px) {
  .container {
    margin-right: -2rem;
    margin-left: 4rem;
  }
}
@media only screen and (max-width: 1268px) {
  .logos {
    display: none;
  }
  .logo-alert {
    display: none;
  }
}
@media only screen and (max-width: 1250px) {
  .container {
    max-width: 850px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 826px;
  }
  .header-subs {
    position: fixed;
    top: 0;
    left: -274px;
    bottom: 0;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 15rem;
    padding: 1rem;
    transition: 0.3s;
  }
  .header__icon {
    display: block;
    font-size: 1.8rem;
  }
  .signin__txt {
    width: 100%;
  }
  .continue-txt {
    display: none;
  }
  .subs-item1 {
    margin-bottom: 10rem;
  }
  .subs-item2 {
    margin-bottom: 2rem;
  }
  .subs-item3 {
    margin-bottom: 2rem;
  }
  .option-link1 {
    color: #fff;
  }
  .option-link2 {
    color: #fff;
  }
}

@media only screen and (max-width: 1060px) {
  .container {
    max-width: 800px;
  }

  .Email__txt {
    width: 5rem;
  }
  .pass__txt {
    width: 5rem;
  }
  .signin__txt {
    width: 12rem;
  }
}
@media only screen and (max-width: 1035px) {
  .container {
    max-width: 750px;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 660px;
  }
}
@media only screen and (max-width: 892px) {
  .container {
    max-width: 550px;
  }
}
@media only screen and (max-width: 772px) {
  .container {
    max-width: 400px;
  }
  .img-center {
    display: none;
  }
}
@media only screen and (max-width: 716px) {
  .container {
    max-width: 380px;
  }
  .main-txt {
    display: none;
  }
  .reg-txt {
    display: none;
  }
  .header__left {
    display: none;
  }
  .right-container {
    margin: -4rem;
  }
  rocover-txt {
    padding: 4rem 10rem;
    margin: 0;
  }
}
@media only screen and (max-width: 630px) {
  .container {
    max-width: 300px;
  }

  @media only screen and (max-width: 561px) {
    .container {
      max-width: 220px;
    }
    .right-container {
      margin: -7rem;
    }
    .recover-txt {
      padding: 1px 7rem;
    }
  }
}
