{% extends "layout.html" %} {% block title %} Sign Up {% endblock %} {% block
content %}
<div class="main-border">
  <header class="header">
    <div class="container">
      <div class="container-wrapper">
        <div class="header__left">
          <div class="header-items">
            <div class="header-item">
              <a href="#" class="item__link">Home</a>
            </div>
            <div class="header-item">
              <a href="#" class="item__link">About</a>
            </div>
            <div class="header-item">
              <a href="#" class="item__link">Blog</a>
            </div>
            <div class="header-item">
              <a href="#" class="item__link">Pages</a>
            </div>
            <div class="header-item">
              <a href="#" class="item__link">Contact</a>
            </div>
          </div>
        </div>
        <div class="header__right">
          <div class="header-options">
            <div class="header-option">
              <ul class="header-subs">
                <li class="subs-item1">
                  <a href="#" class="option-link1"
                    >English
                    <i style="color: #90a4ae" class="fas fa-chevron-down"></i>
                  </a>
                  <ul class="submenus">
                    <li class="li-sub">
                      <a href="#" class="sub-menu">Persian</a>
                    </li>
                    <li class="li-sub">
                      <a href="#" class="sub-menu">Italian</a>
                    </li>
                    <li class="li-sub">
                      <a href="#" class="sub-menu">Turkish</a>
                    </li>
                  </ul>
                </li>
                <li class="subs-item2">
                  <a href="#" class="option-link2">Sign in</a>
                </li>
                <li class="subs-item3">
                  <a href="#" class="option-link3">Register</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <span class="header__icon">
          <i class="fas fa-bars"></i>
        </span>
      </div>
    </div>
  </header>

  <main class="main">
    <div class="container">
      <div class="section-main">
        <div class="main__left">
          <div class="text-signin">
            <h1 class="main-txt">Sign In<br />to Reacharge Direct</h1>
          </div>
          <div class="text-register">
            {% if register %}
            <h4 class="reg-txt">Thank you for signing up!</h4>
            {% else %}
            <h4 class="reg-txt">
              if you don’t have an account<br />you can
              <span class="span">Register here!</span>
            </h4>
            {% endif %}
          </div>
        </div>
        <div class="main__center">
          <div class="img-container">
            <img
              src="{{ url_for('static', filename='images/Character 1.png') }}"
              alt="logo"
              class="img-center"
            />
          </div>
        </div>

        <div class="main__right">
          <div class="right-container">
            <form action="{{ url_for('index') }}" method="POST">
              <div class="input-group">
                <input
                  type="text"
                  placeholder="Enter Email"
                  class="Email__txt"
                  name="email"
                />
                <a href="#" class="logo-alert">
                  <i
                    id="timeCircle"
                    class="fa fa-times-circle"
                    style="color: #677185"
                  ></i>
                </a>
              </div>
              <br />
              <div class="input-group">
                <input
                  type="password"
                  placeholder="* * * * *"
                  class="pass__txt"
                  name="password"
                />
                <a href="#" class="logo-alert">
                  <i
                    id="eyeSlash"
                    class="fa fa-eye-slash"
                    style="color: #677185"
                  ></i>
                </a>
              </div>
              <br /><br />
              <p class="recover-txt">Recover password?</p>
              <input type="submit" value="Sign Up" class="signin__txt" />
              <p class="continue-txt">Or continue With</p>
              <div class="logos">
                <div class="logo-wrapper1">
                  <a class="logo" href="#"
                    ><img
                      src="{{ url_for('static', filename='images/google-logo.png') }}"
                      alt="logo"
                      style="width: 28px"
                  /></a>
                </div>
                <div class="logo-wrapper2">
                  <a class="logo" href="#"
                    ><img
                      src="{{ url_for('static', filename='images/apple-logo.png') }}"
                      alt="logo"
                      style="width: 28px"
                  /></a>
                </div>
                <div class="logo-wrapper3">
                  <a class="logo" href="#"
                    ><img
                      src="{{ url_for('static', filename='images/facebook-logo.png') }}"
                      alt="logo"
                      style="width: 28px"
                  /></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<script>
  let menu = document.querySelector(".header-subs");
  let menuBtn = document.querySelector(".header__icon");
  let menuBtnIcon = document.querySelector(".header__icon i");
  let eyeSlashIcon = document.getElementById("eyeSlash");
  let passwordInput = document.querySelector(".pass__txt");
  let timeCircle = document.getElementById("timeCircle");
  let emailInput = document.querySelector(".Email__txt");

  menuBtn.addEventListener("click", function () {
    if (menuBtnIcon.classList.contains("fas fa-bars")) {
      menu.style.left = "0";
      menuBtnIcon.classList = "fas fa-times";
    } else {
      menu.style.left = "-274px";
      menuBtnIcon.classList = "fas fa-bars";
    }
  });

  timeCircle.addEventListener("click", function () {
    emailInput.value = "";
  });

  eyeSlashIcon.addEventListener("click", function () {
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      eyeSlashIcon.classList = "fa fa-eye";
    } else {
      passwordInput.type = "password";
      eyeSlashIcon.classList = "fa fa-eye-slash";
    }
  });
</script>

{% endblock %}
